<div class="deltaSalinityBar"> 
    <% if (comp === 1) { %>
        <p class="greentext"> ⬆️ <%= title %>: </p>
    <% } else if (comp === -1) { %>
        <p class="redtext"> ⬇️ <%= title %>: </p>
    <% } else { %>
        <p> ⏺️ <%= title %>: </p>
    <% } %>
    <!-- <p> <%= data[0].prob %>%:  <%= data[0].val %> </p>
    <p> <%= data[1].prob %>%:  <%= data[1].val %> </p>
    <p> <%= data[2].prob %>%:  <%= data[2].val %> </p> -->

    <div class="salinityElementContainer">
        <div style="grid-row: 1 / -1; margin-top: 5px;">
            <div style="display: grid; height: 150px; width: 20px; border: 2px solid black; grid-template-columns: 1fr; grid-template-rows: 
                <%= String((100 - data[4].val)) + 'fr' %> 
                <%= String((data[3].val - data[4].val)) + 'fr' %> 
                <%= String((data[2].val - data[3].val)) + 'fr' %> 
                <%= String((data[1].val - data[2].val)) + 'fr' %> 
                <%= String((data[0].val - data[1].val)) + 'fr' %>
                <%= String((data[0].val - 60)) + 'fr' %>;">
                        <div id="p0delta"></div>
                        <div id="p10delta"></div>
                        <div id="p30delta"></div>
                        <div id="p50delta"></div>
                        <div id="p70delta"></div>
                        <div id="p90delta"></div>       
            </div>
        </div>

        <div class="measureBar"> </div>
        <div class="measureText"> 100km </div>
        <div class="measureBar"> </div>
        <div class="measureText"> 90km</div>
        <div class="measureBar"> </div>
        <div class="measureText"> 80km</div>
        <div class="measureBar"></div>
        <div class="measureText"> 70km </div>
    </div>

</div>
