<div class="percentExceedanceBucket"> 
    <% if (comp === 1) { %>
        <p class="greentext"> ⬆️ <%= title %>: </p>
    <% } else if (comp === -1) { %>
        <p class="redtext"> ⬇️ <%= title %>: </p>
    <% } else { %>
        <p> ⏺️ <%= title %>: </p>
    <% } %>
    <!-- <p> <%= data[0].prob %>%:  <%= data[0].val %> </p>
    <p> <%= data[1].prob %>%:  <%= data[1].val %> </p>
    <p> <%= data[2].prob %>%:  <%= data[2].val %> </p> -->

    <div class="bucketElementContainer">
        <div style="grid-row: 1 / -1; margin-top: 5px;">
            <div style="display: grid; height: 100px; width: 100px; border: 2px solid black; grid-template-columns: 1fr; grid-template-rows:  
            <%= String(1 - data[4].val) + 'fr' %> 
            <%= String(data[3].val - data[4].val) + 'fr' %> 
            <%= String(data[2].val - data[3].val) + 'fr' %> 
            <%= String(data[1].val - data[2].val) + 'fr' %> 
            <%= String(data[0].val - data[1].val) + 'fr' %>
            <%= String(data[0].val) + 'fr' %>;">
                <div id="p0bucket"></div>
                <div id="p10bucket"></div>
                <div id="p30bucket"></div>
                <div id="p50bucket"></div>
                <div id="p70bucket"></div>
                <div id="p90bucket"></div>
            </div>
        </div>
        <div class="measureBar"> </div>
        <div class="measureText"> 100% </div>
        <div class="measureBar"> </div>
        <div class="measureText"> 75% </div>
        <div class="measureBar"> </div>
        <div class="measureText"> 50%</div>
        <div class="measureBar"></div>
        <div class="measureText"> 25% </div>
    
    </div>

</div>
