<div class="singleElementContainer"> 
    <% if (comp === 1) { %>
        <p class="greentext"> ⬆️ <%= title %>: </p>
    <% } else if (comp === -1) { %>
        <p class="redtext"> ⬇️ <%= title %>: </p>
    <% } else { %>
        <p> ⏺️ <%= title %>: </p>
    <% } %>
    <p> <%= data[0].prob %>%:  <%= data[0].val %> </p>
    <p> <%= data[1].prob %>%:  <%= data[1].val %> </p>
    <p> <%= data[2].prob %>%:  <%= data[2].val %> </p>
</div>
