<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COEQWAL WEBGAME</title>
</head>
<body>
    <form action="/submit" method="POST">
        <div>
            <p>Agriculture Demands</p>
            <input type="radio" id="demands-1" name="demands" value="1.0" required>
            <label for="1.0">1.0</label>
            <input type="radio" id="demands-0-9" name="demands" value="0.9" required>
            <label for="0.9">0.9</label>
            <input type="radio" id="demands-0-8" name="demands" value="0.8" required>
            <label for="0.8">0.8</label>
            <input type="radio" id="demands-0-7" name="demands" value="0.7" required>
            <label for="0.7">0.7</label>
            <input type="radio" id="demands-0-6" name="demands" value="0.6" required>
            <label for="0.6">0.6</label>
        </div>

        <div>
            <p>Carryover</p>
            <input type="radio" id="carryover-1" name="carryover" value="1.0" required>
            <label for="1.0">1.0</label>
            <input type="radio" id="carryover-1-1" name="carryover" value="1.1" required>
            <label for="1.0">1.1</label>
            <input type="radio" id="carryover-1-2" name="carryover" value="1.2" required>
            <label for="1.0">1.2</label>
        </div>

        <div>
            <p>Distribution Priority</p>
            <input type="radio" id="priority-0" name="priority" value="0" required>
            <label for="0">0</label>
            <input type="radio" id="priority-1" name="priority" value="1" required>
            <label for="1">1</label>
        </div>

        <div>
            <p>Delta Regulations</p>
            <input type="radio" id="delta-1" name="delta" value="1" required>
            <label for="1">1</label>
            <input type="radio" id="delta-2" name="delta" value="2" required>
            <label for="2">2</label>
            <input type="radio" id="delta-3" name="delta" value="3" required>
            <label for="3">3</label>
            <input type="radio" id="delta-4" name="delta" value="4" required>
            <label for="4">4</label>
        </div>

        <div>
            <p>Minimum Flow Requirements</p>
            <input type="radio" id="minflow-0" name="minflow" value="0" required>
            <label for="0">0</label>
            <input type="radio" id="minflow-0-4" name="minflow" value="0.4" required>
            <label for="0.4">0.4</label>
            <input type="radio" id="minflow-0-6" name="minflow" value="0.6" required>
            <label for="0.6">0.6</label>
            <input type="radio" id="minflow-0-7" name="minflow" value="0.7" required>
            <label for="0.7">0.7</label>
            <input type="radio" id="minflow-0-8" name="minflow" value="0.8" required>
            <label for="0.8">0.8</label>

        </div>
        <input type="submit" value="Submit">
    </form>

    <% if (locals.scenario && locals.s_trinity && locals.s_shasta 
            && locals.s_folsom && locals.s_oroville && locals.s_newmelones 
            && locals.s_millerton) { %>
        <p> Displaying results from scenario <%= locals.scenario %>.</p>
        <p> Trinity Average Storage Level: <%= locals.s_trinity %></p>
        <p> Shasta Average Storage Level: <%= locals.s_shasta %></p>
        <p> Oroville Average Storage Level: <%= locals.s_oroville %></p>
        <p> Folsom Average Storage Level: <%= locals.s_folsom %></p>
        <p> New Melones Average Storage Level: <%= locals.s_newmelones %></p>
        <p> Millerton Average Storage Level: <%= locals.s_millerton %></p>

    <% } %>
</body>
</html>