<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>COEQWAL WEBGAME</title>
</head>
<body>
    <div class="container">
        <div class="block">
            <form action="/submit" method="POST">
                <div>
                    <p>Agriculture Demands</p>
                    <input type="radio" id="demands-1" name="demands" value="1.0" required>
                    <label for="1.0">1.0</label>
                    <input type="radio" id="demands-0-9" name="demands" value="0.9" required>
                    <label for="0.9">0.9</label>
                    <input type="radio" id="demands-0-8" name="demands" value="0.8" required>
                    <label for="0.8">0.8</label>
                    <input type="radio" id="demands-0-7" name="demands" value="0.7" required>
                    <label for="0.7">0.7</label>
                    <input type="radio" id="demands-0-6" name="demands" value="0.6" required>
                    <label for="0.6">0.6</label>
                </div>

                <div>
                    <p>Carryover</p>
                    <input type="radio" id="carryover-1" name="carryover" value="1.0" required>
                    <label for="1.0">1.0</label>
                    <input type="radio" id="carryover-1-1" name="carryover" value="1.1" required>
                    <label for="1.0">1.1</label>
                    <input type="radio" id="carryover-1-2" name="carryover" value="1.2" required>
                    <label for="1.0">1.2</label>
                </div>

                <div>
                    <p>Distribution Priority</p>
                    <input type="radio" id="priority-0" name="priority" value="0" required>
                    <label for="0">0</label>
                    <input type="radio" id="priority-1" name="priority" value="1" required>
                    <label for="1">1</label>
                </div>

                <div>
                    <p>Delta Regulations</p>
                    <input type="radio" id="delta-1" name="delta" value="1" required>
                    <label for="1">1</label>
                    <input type="radio" id="delta-2" name="delta" value="2" required>
                    <label for="2">2</label>
                    <input type="radio" id="delta-3" name="delta" value="3" required>
                    <label for="3">3</label>
                    <input type="radio" id="delta-4" name="delta" value="4" required>
                    <label for="4">4</label>
                </div>

                <div>
                    <p>Minimum Flow Requirements</p>
                    <input type="radio" id="minflow-0" name="minflow" value="0" required>
                    <label for="0">0</label>
                    <input type="radio" id="minflow-0-4" name="minflow" value="0.4" required>
                    <label for="0.4">0.4</label>
                    <input type="radio" id="minflow-0-6" name="minflow" value="0.6" required>
                    <label for="0.6">0.6</label>
                    <input type="radio" id="minflow-0-7" name="minflow" value="0.7" required>
                    <label for="0.7">0.7</label>
                    <input type="radio" id="minflow-0-8" name="minflow" value="0.8" required>
                    <label for="0.8">0.8</label>

                </div>
                <input type="submit" value="Submit">
            </form>
        </div>

        <% if (locals.ds) { %>
            <div class="block">
                <h2> Displaying results from scenario <%= locals.ds.scenario %>.</h2>
                <h3>Dry Year</h3>
                    <%- include("partials/singleValue.ejs", {title: "Equity", data: locals.ds.dry_equity, comp: locals.prev_compare.dry_equity}) %>
                    <%- include("partials/percentExceedanceBucket.ejs", {title: "NOD Ag Deliveries", data: locals.ds.dry_del_ag_n, comp: locals.prev_compare.dry_del_ag_n}) %>
                    <%- include("partials/percentExceedanceBucket.ejs", {title: "SOD Ag Deliveries", data: locals.ds.dry_del_ag_s, comp: locals.prev_compare.dry_del_ag_s}) %>
                    <%- include("partials/percentExceedanceBucket.ejs", {title: "NOD M&I Deliveries", data: locals.ds.dry_del_mi_n, comp: locals.prev_compare.dry_del_mi_n}) %>
                    <%- include("partials/percentExceedanceBucket.ejs", {title: "SOD M&I Deliveries", data: locals.ds.dry_del_mi_s, comp: locals.prev_compare.dry_del_mi_s}) %>
                    <%- include("partials/percentExceedanceBucket.ejs", {title: "Delta Salinity", data: locals.ds.dry_x2_prv, comp: locals.prev_compare.dry_x2_prv}) %>

                <h3>Wet Year</h3>
                    <%- include("partials/singleValue.ejs", {title: "Equity", data: locals.ds.wet_equity, comp: locals.prev_compare.wet_equity}) %>
                    <%- include("partials/percentExceedanceBucket.ejs", {title: "NOD Ag Deliveries", data: locals.ds.wet_del_ag_n, comp: locals.prev_compare.wet_del_ag_n}) %>
                    <%- include("partials/percentExceedanceBucket.ejs", {title: "SOD Ag Deliveries", data: locals.ds.wet_del_ag_s, comp: locals.prev_compare.wet_del_ag_s}) %>
                    <%- include("partials/percentExceedanceBucket.ejs", {title: "NOD M&I Deliveries", data: locals.ds.wet_del_mi_n, comp: locals.prev_compare.wet_del_mi_n}) %>
                    <%- include("partials/percentExceedanceBucket.ejs", {title: "SOD M&I Deliveries", data: locals.ds.wet_del_mi_s, comp: locals.prev_compare.wet_del_mi_s}) %>
                    <%- include("partials/percentExceedanceBucket.ejs", {title: "Delta Salinity", data: locals.ds.wet_x2_prv, comp: locals.prev_compare.wet_x2_prv}) %>

            </div>
            
            <div class="block">
                <h2> Reservoir Levels </h2>
                <h3> Dry Year </h3>
                    <%- include("partials/percentExceedanceBucket.ejs", {title: "Trinity Storage Level", data: locals.ds.dry_s_trinity, comp: locals.prev_compare.dry_s_trinity}) %>
                    <%- include("partials/percentExceedanceBucket.ejs", {title: "Shasta Storage Level", data: locals.ds.dry_s_shasta, comp: locals.prev_compare.dry_s_shasta}) %>
                    <%- include("partials/percentExceedanceBucket.ejs", {title: "Oroville Storage Level", data: locals.ds.dry_s_oroville, comp: locals.prev_compare.dry_s_oroville}) %>
                    <%- include("partials/percentExceedanceBucket.ejs", {title: "Folsom Storage Level", data: locals.ds.dry_s_folsom, comp: locals.prev_compare.dry_s_folsom}) %>
                    <%- include("partials/percentExceedanceBucket.ejs", {title: "New Melones Storage Level", data: locals.ds.dry_s_newmelones, comp: locals.prev_compare.dry_s_newmelones}) %>
                    <%- include("partials/percentExceedanceBucket.ejs", {title: "Millerton Storage Level", data: locals.ds.dry_s_millerton, comp: locals.prev_compare.dry_s_millerton}) %>

                <h3> Wet Year </h3>
                <%- include("partials/percentExceedanceBucket.ejs", {title: "Trinity Storage Level", data: locals.ds.wet_s_trinity, comp: locals.prev_compare.wet_s_trinity}) %>
                <%- include("partials/percentExceedanceBucket.ejs", {title: "Shasta Storage Level", data: locals.ds.wet_s_shasta, comp: locals.prev_compare.wet_s_shasta}) %>
                <%- include("partials/percentExceedanceBucket.ejs", {title: "Oroville Storage Level", data: locals.ds.wet_s_oroville, comp: locals.prev_compare.wet_s_oroville}) %>
                <%- include("partials/percentExceedanceBucket.ejs", {title: "Folsom Storage Level", data: locals.ds.wet_s_folsom, comp: locals.prev_compare.wet_s_folsom}) %>
                <%- include("partials/percentExceedanceBucket.ejs", {title: "New Melones Storage Level", data: locals.ds.wet_s_newmelones, comp: locals.prev_compare.wet_s_newmelones}) %>
                <%- include("partials/percentExceedanceBucket.ejs", {title: "Millerton Storage Level", data: locals.ds.wet_s_millerton, comp: locals.prev_compare.wet_s_millerton}) %>
        </div>
        <% } %>

    </div>
</body>
</html>